*
analysis
analysis/*
!analysis/README.md
!config
!config/**
!data
!data/*
!data/query
!data/reference
!resources
!workflow
!workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md

